{% extends "::base.html.twig" %}
{% block body %}
<!--second navbar-->
<nav class="navbar twoRow" role="navigation">
  <div class="col-xs-offset-3 col-md-6 col-md-offset-3">
   <ul class="nav navbar-nav">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        {% if numero_posti > 0 %}
          {{ numero_posti }} posti
        {% else %}
          Scegli numero posti
        {% endif %}<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="{{ path('asdasdasd', { 'numero_posti': 15 }) }}">Tutte</a></li>
        <li><a href="/lista_sale?numero_posti=10">10 posti</a></li>
        <li><a href="/lista_sale?numero_posti=15">15 posti</a></li>
        <li><a href="/lista_sale?numero_posti=20">20 posti</a></li>
      </ul>
      <li class="divider-vertical"></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Filtra per Sede <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Tutte</a></li>
          <li><a href="#">Milano</a></li>
          <li><a href="#">Roma</a></li>
          <li><a href="#">Napoli</a></li>
        </ul>
      </li>
      <li class="divider-vertical"></li>
      <li class="dropdown">
       <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ordina per attività <b class="caret"></b></a>
       <ul class="dropdown-menu">
        <li><a href="#">Indifferente</a></li>
        <li><a href="#">più usate</a></li>
        <li><a href="#">meno usate</a></li>
      </ul>
    </li>
  </ul>
</div>
</nav>


<!-- contenuto -->
<div class="container-fluid">
<hr>
{% if is_granted("ROLE_ADMIN") %}

<button type="button" class="btn btn-primary center-block" data-toggle="modal" data-target="#myModal3" href="{{ url('front_sala_crea')}}">Aggiungi Sala</button>

{% endif %}

{% for sala in sale %}

  <div class="row content-img">
    <div class="col-xs-offset-1 col-md-offset-1 col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <blockquote class="blockquote-reverse">
            <h5 class="caratteristiche-titolo">{{sala.nome}}</h5>
            <h6 class="caratteristiche-titolo">sede {{sala.sede}}
              <h6 class="text-style">{{sala.citta}}IT <br>
                {{sala.telefono}}</h6> </blockquote>
              </div>
              <div class="panel-body">
              </div>
            </div>
          </div>
          <a href="{{ url('front_sala', {id: sala.id} )}}"><img src="img/sala.jpg" alt="sala marco aurelio" class="img-circle"></a>

          {% if is_granted("ROLE_ADMIN") %}

          <div class="col-md-5">
          <div class="panel panel-default">
            <div class="panel-heading "><blockquote><h5 class="caratteristiche-titolo">{{sala.posti}} Posti</h5>
              <hr class="margin-top-bottom">
              <h6 class="text-style">{{sala.descrizione}}.</h6>


            </div>
            <div class="panel-body col-xs-offset-5">
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="panel panel-default">
            <div class="panel-heading "><blockquote> <span class="glyphicon glyphicon-time" title="Ore prenotate"><h5 class="caratteristiche-titolo stat">H: 30 </h5></span>
              <hr class="margin-top-bottom">
              <span class="glyphicon glyphicon-list-alt" title="Eventi creati"><h5 class="caratteristiche-titolo stat">N°: 15</h5></span></blockquote>
            </div>
            <div class="panel-body col-xs-offset-5">
            </div>
          </div>
        </div>
       </div>

       {% else %}


          <div class="col-md-7">
            <div class="panel panel-default">
              <div class="panel-heading "><blockquote><h5 class="caratteristiche-titolo">{{sala.posti}} Posti</h5>
                <hr class="margin-top-bottom">
                <h6 class="text-style">{{sala.descrizione}}.</h6>
                </div>
                <div class="panel-body col-xs-offset-5">
                </div>
              </div>
            </div>
          </div>
    {% endif %}
  {% endfor %}

    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
      </div>
    </div>
  </div>


{% endblock %}
